html { font-size: 62.5%; }

.body {display: flex; flex-direction: column; justify-content: space-between;font-size: 1.3rem;;}

.main {max-width:700px; margin:0 auto;}

.nav, .footer__block {display: flex; justify-content: center;}
.nav {margin:2rem 0;}
.header__list {display: flex;flex-direction: row;list-style-type: none;margin:0;padding:0;}
.header__list-item:not(:first-child) {margin-left:2rem;}

.header__photo-block {text-align: center;}

.footer__img {max-width:10rem;}

.footer__block {flex-direction: column;text-align:center;}